@import "tailwindcss";

@theme {
  --color-primary: rgb(168, 85, 247);
  --color-secondary: rgb(59, 130, 246);
}

body {
  @apply bg-gradient-to-br from-gray-50 to-gray-100
}

@utility bgGradient {
  @apply bg-gradient-to-r from-primary to-secondary
}

@layer components {

.textGradient { 
  @apply bgGradient bg-clip-text text-transparent
}

.card {
  @apply bg-white p-6 border border-gray-200 shadow-sm rounded-lg
}

.btn-primary {
  @apply flex items-center justify-center gap-4 bgGradient text-sm font-medium whitespace-nowrap rounded-lg text-white h-10 px-4 py-2 cursor-pointer hover:opacity-90 disabled:opacity-65 disabled:cursor-default transition-all
}

.btn-secondary {
  @apply flex items-center justify-center gap-4 border text-sm font-medium whitespace-nowrap border-gray-200 rounded-lg h-10 px-4 py-2 cursor-pointer hover:bg-gray-50 disabled:opacity-65 disabled:cursor-default transition-all
}

.input {
  @apply rounded-lg text-sm border border-gray-200 bg-gray-50 focus:bg-white h-10 px-3 py-2 outline-none focus:ring-2 ring-offset-2 ring-primary
}

}